<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>BoBoKu</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../css/demo.css" />
    <link rel="stylesheet" type="text/css" href="../css/component.css" />
    <script type="text/javascript" src="../js/iconfont.js"></script>
    <script src="../js/modernizr.custom.js"></script>
    <script src="../js/masonry.pkgd.min.js"></script>
    <script src="../js/imagesloaded.pkgd.min.js"></script>
    <script src="../js/classie.js"></script>
    <script src="../js/colorfinder-1.1.js"></script>
    <script src="../js/gridScrollFx.js"></script>
    <script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script>
        $(function () {
            new GridScrollFx( document.getElementById( 'grid' ), {
                viewportFactor : 0.4
            } );
            $(window).scroll(function() {
                var x = window.pageYOffset  //用于FF
                    || document.documentElement.scrollTop
                    || document.body.scrollTop
                    || 0;
                if (x > 200){
                    $("#top").css("background-color", "rgba(0, 0, 0, 0.51)");
                    $("#top").css("box-shadow", "0 0 4px rgba(0,0,0,.2)");
                }else {
                    $("#top").css("background-color", "rgba(0, 0, 0, 0)");
                    $("#top").css("box-shadow", "none");
                }

            });

            $('[data-toggle="popover"]').popover();
            $('[data-toggle="tooltip"]').tooltip();
        })

        /*function changeqq() {
            $("#qq").attr("xlink:href", "#icon-qq");

        }
        function resetqq() {
            $("#qq").attr("xlink:href", "#icon-weixin-");
        }
        function changewb() {
            $("#wb").attr("xlink:href", "#icon-weibo1");
        }
        function resetwb() {
            $("#wb").attr("xlink:href", "#icon-weibo");
        }*/

        function sendCode(obj) {
            var registertelvalue = $("#registertel").val();
            $.post("/sendCode",
                {'telOrEmail':registertelvalue},
                function(data){
                    if (!data.success){
                        $(".cue_1").text(data.msg);
                    }else {
                        settime(obj);
                    }
                });
        }


        //发送验证码倒计时
        var countdown = 60;
        function settime(obj) {
            if (countdown == 0) {
                obj.removeAttribute("disabled");
                $("#code").text("发送验证码");
                countdown = 60;
                return;
            } else {
                obj.setAttribute("disabled", true);
                $("#code").text("重新发送(" + countdown + ")");
                countdown--;
            }
            setTimeout(function() {
                    settime(obj) }
                ,1000)
        }

        
        function openjudge() {
            $("#judgeText_1").css("display", "none");
            $("#judgeText").css("display", "block");
        }

        //登录
        function login() {
            var logintelvalue = $("#logintel").val();
            var loginpassword = $("#loginpassword").val();
            if (logintelvalue == ''){
                $(".cue").text("请输入手机号或邮箱");
                return;
            }
            if (loginpassword == ''){
                $(".cue").text("请输入密码");
                return;
            }
            $.post("/login",
                {'telOrEmail':logintelvalue, 'password':loginpassword},
                function(data){
                    if (data.success){
                        window.location.reload();
                    }else {
                        $(".cue").text(data.msg);
                    }
                });
        }
            //注册
            function register() {
                var registertel = $("#registertel").val();
                var registercode = $("#registercode").val();
                var registerpassword = $("#registerpassword").val();
                var registername = $("#name").val();
                $.post("/register",
                    {'telOrEmail':registertel, 'name':registername, 'code':registercode, 'password':registerpassword},
                    function(data){
                        if (data.success){
                            alert(data.data);
                        }else {
                            $(".cue_1").text(data.msg);
                        }
                    });
            }

            //点赞
            function praise(id, obj) {
                $.ajax({
                    type:'POST',
                    url:'/user/praise',
                    data:{'id':id},
                    success:function(data){
                        if (data.success){
                            var praise = $(obj).find("span[id=praise]").text();
                            var num = parseInt(praise) + 1;
                            $(obj).find("span[id=praise]").text(num);
                        }else {
                            if (data.code == 401){
                                alert(data.msg);
                            }
                        }
                    },
                })
            }
    </script>
    <style type="text/css">
        .container a{
            color: #fff;
        }
        .nav>li>a:focus, .nav>li>a:hover{
            background-color: rgba(238, 238, 238, 0.49);
        }
        .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
            background-color: rgba(238, 238, 238, 0.49);
        }
        .icon {
            width: 1em; height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
        div.search {padding: 30px 0;}

        form {
            position: relative;
            width: 650px;
            margin: 0 auto;
        }
        /*搜索框5*/
        .bar5 input, .bar5 button {
            background: transparent;
        }
        .bar5 input {
            background-color: rgba(10, 10, 10, 0.16);
            border: none;
            outline: none;
            width: 105%;
            height: 50px;
            padding-left: 13px;
            border: 2px solid #fff;
        }
        .bar5 button {
            border: none;
            outline: none;
            height: 42px;
            width: 42px;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
        }
        .bar5 input:hover {
            background-color: rgba(10, 10, 10, 0.7);
        }
        .cat{
            position: relative;
            margin: 0 auto;
            width: 1285px;
        }
        .cat div{
            float:left;
            margin: 160px 30px;
        }
        .cat img{
            height: 100px;
        }
        .cat p{
            position: relative;
            top: 22px;
            font-size: 10px;
            text-align: center;
            color: rgb(93, 78, 24);
        }
        /*效果一：360°旋转 修改rotate(旋转度数)*/
        .cat img:hover{
            transition: All 0.4s ease-in-out;
            transform: rotate(40deg);
        }
        .title{
            padding: 10px;
            font-size: 10px;
            color: #fff;
            font-size: 15px;
            font-weight: 100;
            position: relative;
            top: -6px;
        }
        .row img{
            height: 154px;
            width:213.72px;
        }
        #navigation{
            position: fixed;
            width: 100%;
            height: 51px;
            z-index: 200;
        }
        .row_1 img{
            height: 126.86px;
            width: 126.86px;
        }
        .row_1 .back{
            background-color: rgba(227, 241, 183, 0.19);
            width: 126.86px;
            height: 126.86px;
        }
        .row_1 .back:hover{
            background-color: rgba(227, 241, 183, 0.5);
        }
        .character{
            text-align: center;
            position: relative;
            top: 25px;
            color: rgba(177, 174, 174, 0.68);
        }
        .name{
            text-align: center;
            position: relative;
            top: 20px;
            color: rgba(0, 0, 0, 0.44);
        }
        #grid li{
            width: 250px;
        }
        #grid li img{
            width: 236px;
        }
        .ul{
            list-style: none;
            text-align: center;
        }
        .ul li{
            padding: 5px 0;
            float: left;
            width: 16.3%;
        }
        .di a{
            width: 200px;
            display: inline-block;
            vertical-align: top;
            padding-bottom: 20px;
            font-size: 16px;
        }
        .cue{
            color: #ff0000;
            position: absolute;
            right: 22px;
        }
        .cue_1{
            color: #ff0000;
            position: absolute;
            right: 22px;
        }
    </style>
</head>
<body style="height: auto;">
    <div>
        <!--<span id="navigation">
            <span style="margin-left: 10%;">
                <svg class="icon" aria-hidden="true" style="font-size: 32px;margin-left: 25px;margin-top: 9px;">
                    <use xlink:href="#icon-liwu2"></use>
                </svg>
                <span style="font-size: 28px;color: #fff;font-weight: 100;position: relative;top: -1px;">奇物</span>
                <span class="title" style="padding-bottom: 5px;border-bottom:  1px solid #fff;margin-left: 12px">首页</span>
                <span class="title">发现</span>
                <span class="title">最新</span>
                <span class="title">活动</span>
                <span class="title">礼品</span>
                <span class="title">大喵</span>
                <svg class="icon" aria-hidden="true" style="font-size: 30px;margin-top: 9px;position: relative;right: 5px;">
                    <use xlink:href="#icon-new4"></use>
                </svg>
                <div class="btn-group">
                  <a style="color: #fff;
                    font-size: 15px;
                    position: relative;
                    font-weight: 100;
                    text-decoration: none;
                    top: -8px;" id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    更多 <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="drop2" style="background-color: rgba(245, 245, 220, 0.53);min-width: 72px;">
                    <li><a href="#">美思</a></li>
                    <li>
                        <a href="#">美素</a>
                    </li>
                    <li><a href="#">美体</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">猫爪</a></li>
                  </ul>
                </div>
            </span>
            <span style="position: absolute;left: 82%;top: 8px;" th:if="${session.LOGIN_USER == null}">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="background-color: rgba(251, 17, 17, 0.65);border-color: rgba(251, 17, 17, 0.65);">
                    登录
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_1" style="background: rgba(0, 0, 0, 0);border-color: #fff;margin-left: 5px;">
                    注册
                </button>
            </span>
            <span style="position: absolute;left: 82%;top: 8px;" th:if="${session.LOGIN_USER != null}">
                <div class="dropdown">
                    <a style="text-decoration: none;color: #fff;" id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img th:src="${session.LOGIN_USER.imgUrl}" style="height: 35px;width: 35px;display: inline-block;border: 1px solid #ddd;border-radius: 50%;" />
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="drop1" style="min-width: 98px;width: 140px;background-color: rgba(245, 245, 220, 0.53);">
                        <li>
                            <a>
                                <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                    <use xlink:href="#icon-wodezhuye"></use>
                                </svg>
                                <span style="position: relative;top: -2px;left: 3px;">个人主页</span>
                            </a>
                        </li>
                        <li>
                            <a style="margin-top: 10px;">
                                <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                    <use xlink:href="#icon-shoucang"></use>
                                </svg>
                                <span style="position: relative;top: -2px;left: 3px;">我的收藏</span>
                            </a>
                        </li>
                        <li>
                            <a style="margin-top: 10px;">
                                <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                    <use xlink:href="#icon-zhanghushezhi"></use>
                                </svg>
                                <span style="position: relative;top: -2px;left: 3px;">账户设置</span>
                            </a>
                        </li>
                        <li>
                            <a href="/logout" style="margin-top: 10px;">
                                <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                    <use xlink:href="#icon-signout"></use>
                                </svg>
                                <span style="position: relative;top: -2px;left: 3px;">退出</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </span>
        </span>

        <span style="position: absolute;right: 200px;top: 8px;"></span>-->
        <header class="navbar navbar-static-top bs-docs-nav" id="top" style="position: fixed;width: 100%;z-index: 200;">
            <div class="container" style="width: 75%;">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false" style="border-color: #333;background-color: #fff;">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" style="background-color: #333;"></span>
                        <span class="icon-bar" style="background-color: #333;"></span>
                        <span class="icon-bar" style="background-color: #333;"></span>
                    </button>
                    <a href="../" class="navbar-brand" style="font-size: 28px;font-weight: 100;">奇物</a>
                </div>
                <nav id="bs-navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/" style="background-color: rgba(238, 238, 238, 0.49);">首页</a>
                        </li>
                        <li>
                            <a href="/search">发现</a>
                        </li>
                        <li class="active">
                            <a href="#">组件</a>
                        </li>
                        <li>
                            <a href="#">插件</a>
                        </li>
                        <li>
                            <a href="#">定制</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" th:if="${session.LOGIN_USER == null}">
                        <li>
                            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#myModal" style="color: #fff;background-color: rgba(251, 17, 17, 0.65);border-color: rgba(251, 17, 17, 0.65);">
                                登录
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#myModal_1" style="color: #fff;background: rgba(0, 0, 0, 0);border-color: #fff;margin-left: 5px;">
                                注册
                            </button>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" th:if="${session.LOGIN_USER != null}">
                        <li>
                            <a id="hide"></a>
                        </li>
                        <li>
                            <svg class="icon" aria-hidden="true" style="font-size: 25px;position: absolute;left: -35px;top: 12px;">
                                <use xlink:href="#icon-lingdang-copy"></use>
                            </svg>
                        </li>

                        <li class="dropdown">
                            <a style="padding-right: 10px;text-decoration: none;color: #fff;padding-top: 8px;padding-bottom: 8px;margin-top: -8px;"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img th:src="${session.LOGIN_USER.imgUrl}" style="margin-top: 7px;height: 35px;width: 35px;display: inline-block;border: 1px solid #ddd;border-radius: 50%;" /><span class="caret"></span></a>
                            <ul class="dropdown-menu" style="min-width: 98px;width: 140px;">
                                <li>
                                    <a>
                                        <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                            <use xlink:href="#icon-wodezhuye"></use>
                                        </svg>
                                        <span style="position: relative;top: -2px;left: 3px;">个人主页</span>
                                    </a>
                                </li>
                                <li>
                                    <a style="margin-top: 10px;">
                                        <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                            <use xlink:href="#icon-shoucang"></use>
                                        </svg>
                                        <span style="position: relative;top: -2px;left: 3px;">我的收藏</span>
                                    </a>
                                </li>
                                <li>
                                    <a style="margin-top: 10px;">
                                        <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                            <use xlink:href="#icon-zhanghushezhi"></use>
                                        </svg>
                                        <span style="position: relative;top: -2px;left: 3px;">账户设置</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout" style="margin-top: 10px;">
                                        <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                            <use xlink:href="#icon-signout"></use>
                                        </svg>
                                        <span style="position: relative;top: -2px;left: 3px;">退出</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <button th:onclick="'javascript:towrite()'" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="position: relative;
                                    top: 8px;
                                    color: #fff;
                                    width: 90px;
                                    margin-left: 5px;
                                    border-radius: 100px;
                                    background-color: #f55f5f;
                                    border-color: #f55f5f;">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-xiezuo-copy"></use>
                                </svg>
                                <span>写文章</span>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width: 450px;margin: 0 auto;margin-top: 200px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <svg class="icon" aria-hidden="true" style="font-size: 28px;margin-top: 9px;">
                            <use xlink:href="#icon-icon-copy"></use>
                        </svg>
                        <span class="modal-title" id="myModalLabel" style="font-size: 21px;position: relative;top: -3px;left: 2px;">登录</span>
                    </div>
                    <div class="modal-body">
                        <div style="text-align: center;color: rgba(0, 0, 0, 0.35);">——  使用手机号/邮箱登录猫爪  ——</div>
                        <div class="input-group input-group-lg" style="margin-top: 16px;">
                            <span class="input-group-addon" id="basic-addon1">
                                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                                  <use xlink:href="#icon-yonghuming1"></use>
                                </svg>
                            </span>
                            <input type="text" class="form-control" placeholder="手机号/邮箱" aria-describedby="basic-addon1" id="logintel" />
                        </div><br></br>
                        <div class="input-group  input-group-lg">
                            <span class="input-group-addon" id="basic-addon2">
                                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                                  <use xlink:href="#icon-mima"></use>
                                </svg>
                            </span>
                            <input type="password" class="form-control" placeholder="密码" aria-describedby="basic-addon2" id="loginpassword" />
                        </div>
                        <div style="margin-top: 10px;">
                            <span style="margin-left: 2%;"><a href="#">忘记密码>></a></span><span class="cue"></span>
                        </div>
                        <div style="text-align: center;color: rgba(0, 0, 0, 0.35);margin-top: 35px;">——  用第三方帐号注册猫爪  ——</div>
                        <div style="position: relative;margin-top: 15px;left: 38%;">
                            <a href="http://movcat.com/qq/auth?url=http://movcat.com" style="text-decoration: none;">
                                <svg class="icon" aria-hidden="true" style="font-size: 50px;" th:onmouseover="'javascript:changeqq()'" th:onmouseout="'javascript:resetqq()'">
                                    <use xlink:href="#icon-weixin-" id="qq"></use>
                                </svg>
                            </a>
                            <svg class="icon" aria-hidden="true" style="font-size: 50px;" th:onmouseover="'javascript:changewb()'" th:onmouseout="'javascript:resetwb()'">
                                <use xlink:href="#icon-weibo" id="wb"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span>还没有猫爪账号?</span>
                        <span><a href="#" th:onclick="'javascript:gologin()'" style="margin-right: 117px;">立即注册>></a></span>
                        <button type="button" class="btn btn-primary" style="border-color: #fff;background-color: #fbd34a;width: 110px;" th:onclick="'javascript:login()'">登录</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_1">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width: 450px;margin: 0 auto;margin-top: 200px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <svg class="icon" aria-hidden="true" style="font-size: 28px;margin-top: 9px;">
                            <use xlink:href="#icon-icon-copy"></use>
                        </svg>
                        <span class="modal-title" id="myModalLabel_1" style="font-size: 21px;position: relative;top: -3px;left: 2px;">注册</span>
                    </div>
                    <div class="modal-body">
                        <div style="text-align: center;color: rgba(0, 0, 0, 0.35);">——  使用手机号/邮箱注册猫爪  ——</div>
                        <div class="input-group input-group-lg" style="margin-top: 16px;">
                            <span class="input-group-addon" id="basic-addon6">
                                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                                  <use xlink:href="#icon-yonghuming1"></use>
                                </svg>
                            </span>
                            <input type="text" class="form-control" placeholder="用户名" aria-describedby="basic-addon6" id="registername" />
                        </div><br></br>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="basic-addon5">
                                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                                  <use xlink:href="#icon-shoujihao"></use>
                                </svg>
                            </span>
                            <input type="text" class="form-control" placeholder="手机号/邮箱" aria-describedby="basic-addon5" id="registertel" />
                        </div><br></br>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="basic-addon3">
                                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                                  <use xlink:href="#icon-duanxinyanzhengmax"></use>
                                </svg>
                            </span>
                            <input type="text" class="form-control" placeholder="验证码" aria-describedby="basic-addon3" style="width: 69%;" id="registercode" />
                        </div>
                        <button type="button" th:onclick="'javascript:sendCode(this)'" id="code"
                                class="btn btn-primary" autocomplete="off" style="position:
                                absolute;left: 73%;top: 42.6%;height: 46px;background-color: #f5ab90;border-color: rgba(0, 0, 0, 0.37);width: 106px;">
                            发送验证码
                        </button>
                        <br></br>
                        <div class="input-group  input-group-lg">
                            <span class="input-group-addon" id="basic-addon4">
                                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                                  <use xlink:href="#icon-mima"></use>
                                </svg>
                            </span>
                            <input type="password" class="form-control" placeholder="密码" aria-describedby="basic-addon4" id="registerpassword" />
                        </div>
                        <span class="cue_1"></span>
                        <div style="text-align: center;color: rgba(0, 0, 0, 0.35);margin-top: 35px;">——  用第三方帐号注册猫爪  ——</div>
                        <div style="position: relative;margin-top: 15px;left: 38%;">
                            <a href="http://movcat.com/qq/auth?url=http://movcat.com" style="text-decoration: none;">
                                <svg class="icon" aria-hidden="true" style="font-size: 50px;" th:onmouseover="'javascript:changeqq()'" th:onmouseout="'javascript:resetqq()'">
                                    <use xlink:href="#icon-weixin-" id="qq"></use>
                                </svg>
                            </a>
                            <svg class="icon" aria-hidden="true" style="font-size: 50px;" th:onmouseover="'javascript:changewb()'" th:onmouseout="'javascript:resetwb()'">
                                <use xlink:href="#icon-weibo" id="wb"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span>已有猫爪账号?</span>
                        <span><a href="#" th:onclick="'javascript:gologin()'" style="margin-right: 130px;">立即登录>></a></span>
                        <button type="button" class="btn btn-primary" style="border-color: #fff;background-color: #fbd34a;width: 110px;" th:onclick="'javascript:register()'">注册</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:style="'background: url(' + ${background.url} + ');height:520px;background-size: cover;opacity: 1;background-position: center 0px;'">
        <div style="text-align: center;font-size: 50px;color: #FFF;position: relative;top: 175px;font-weight: 100;">猫爪,  帮您找到您的天命猫</div>
        <div class="search bar5" style="position: relative;top: 190px;">
            <form>
                <input type="text" placeholder="BoBoKu..." />
                <button type="submit">
                    <svg class="icon" aria-hidden="true" style="font-size: 26px;margin-left: 25px;margin-top: 9px;">
                        <use xlink:href="#icon-liwu2"></use>
                    </svg>
                </button>
            </form>
        </div>
        <div style="text-align: center;position: relative;top: 175px;font-size: 15px;">
            <span style="color: #ddd">热门搜索：</span>
            <span>
                <a style="color: #fff">花瓣认证设计师</a>&nbsp;&nbsp;
                <a style="color: #fff">原创插画</a>&nbsp;&nbsp;
                <a style="color: #fff">花瓣LIVE</a>&nbsp;&nbsp;
                <a style="color: #fff">花瓣LIVE</a>&nbsp;&nbsp;
            </span>
        </div>
    </div>
    <div style="text-align: center;font-size: 15px;margin-top: 20px;color: rgba(0, 0, 0, 0.38);">大家正在关注</div>
    <div class="row" style="max-width: 80%;margin: 15px auto;">
        <div class="col-xs-6 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://hbimg-other.b0.upaiyun.com/img/promotion/a886655a813a1342d295ad51d981991bae1705ca1f86e" alt="" />
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://hbimg-other.b0.upaiyun.com/img/promotion/ca69d29c6e407feb0455a9ecd49f3d8dc80178a78bd6" alt="" />
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://pagead2.googlesyndication.com/simgad/8573399779390812097" alt="" />
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://upyun.h800.com.cn/content/1510710736765.jpg" alt="" />
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://liontest001.b0.upaiyun.com/content/1509002735222.jpg!content" alt="" />
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://liontest001.b0.upaiyun.com/content/1509002902991.jpg!content" alt="" />
            </a>
        </div>
    </div>

    <div style="text-align: center;font-size: 15px;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.38);">为您推荐</div>
    <div> <!--style="background-color: rgba(109, 102, 92, 0.09);"-->
    <section class="grid-wrap" style="max-width: 80%;">
        <ul class="grid swipe-down" id="grid">
            <li th:each="giftArticleVo : ${giftArticleVoList}">
                <div style="position: relative;overflow: hidden;margin: 7px;box-shadow: 0 1px 1px rgb(146, 132, 132);">
                    <a th:href="@{'/giftArticle/detail?id='+${giftArticleVo.giftArticleId}}">
                        <img th:src="${giftArticleVo.giftArticleImgUrl}" alt="" />
                        <!--<div class="collapse" id="collapseExample">
                            <div class="well">
                                ...
                            </div>
                        </div>-->
                    </a>
                    <div style="background-color: #fff;">
                        <div style="border-bottom: 1px solid #F2F2F2;">
                            <div style="padding: 15px;" th:text="${giftArticleVo.giftArticleTitle}"></div>
                            <div style="padding: 0 15px 15px 15px;">
                                <svg class="icon" aria-hidden="true" th:onclick="'javascript:openjudge()'" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    <use xlink:href="#icon-wodefankui"></use>
                                </svg>
                                <span style="color: rgba(0, 0, 0, 0.31);" th:text="${giftArticleVo.commentCount}"></span>&nbsp;&nbsp;
                                <a href="javacript:void(0);" th:onclick="'javascript:praise('+${giftArticleVo.giftArticleId}+',this)'" style="text-decoration: none;">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-jushoucang"></use>
                                    </svg>
                                    <span style="color: rgba(0, 0, 0, 0.31);" id="praise" th:text="${giftArticleVo.praiseCount}"></span>&nbsp;&nbsp;
                                </a>
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-tubiao215"></use>
                                </svg>
                                <span style="color: rgba(0, 0, 0, 0.31);" th:text="${giftArticleVo.shareCount}"></span>&nbsp;&nbsp;
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-liulanliang1"></use>
                                </svg>
                                <span style="color: rgba(0, 0, 0, 0.31);" th:text="${giftArticleVo.totalBrowsingCount}"></span>
                            </div>
                        </div>
                        <div th:if="${giftArticleVo.commentContent != null}" style="padding: 15px;border-bottom: 1px solid #F2F2F2;background-color: rgba(0, 0, 0, 0.02);display: block;min-height: 111px;" id="judgeText_1">
                            <img th:src="${giftArticleVo.userImgUrl}" alt="" style="border: 1px solid rgba(33, 33, 33, 0.31);width: 35px;height: 35px;"/>
                            <div style="margin-left: 45px;margin-top: -35px;max-width: 163px;word-wrap:break-word">
                                <div style="color: rgba(232, 98, 98, 0.84);" th:text="${giftArticleVo.userName}"></div>
                                <div th:text="${giftArticleVo.commentContent}"></div>
                            </div>
                        </div>
                <div style="padding: 15px;border-bottom: 1px solid #F2F2F2;background-color: rgba(0, 0, 0, 0.02);height: 111px;display: none;" id="judgeText">
                    <img src="../img/11.jpg" alt="" style="border: 1px solid rgba(33, 33, 33, 0.31);width: 35px;height: 35px;"/>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" style="position: relative;left: 45px;top: -35px;width: 158px;height: 35px;"/>
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="button" essed="false" autocomplete="off" style="position: absolute;
                    margin-left: 125px;margin-top: -25px;border-color: rgba(255, 39, 39, 0.79);background-color: rgba(255, 39, 39, 0.79);border-radius: 0;padding: 4px 10px;">
                                添加评论
                            </button>
                        </div>
                    </div>
                </div>
            </li>
    </ul>
    </section>
    </div>
    <div style="width: 82%;margin: 0 auto;">
        <div style="position: relative;">
            <span>以分类浏览猫爪</span><span style="position: absolute;right: 0px;">所有>></span>
        </div>
        <div style="margin-bottom: 20px;padding-bottom: 5px;border-bottom: 2px solid #ededed;"></div>
    </div>
    <div style="height: 225px;">
        <ul class="ul">
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
            <li><a href="#">UI/UX</a></li>
        </ul>
    </div>
    <div style="height: 200px;background-color: #333;">
        <!--<div style="width: 80%;text-align: center;position: relative;top: 35px;">
            <div class="di">
                <a>猫爪首页</a>
                <a>猫爪首页</a>
                <a>猫爪首页</a>
            </div>
            <div class="di">
                <a>猫爪首页</a>
                <a>猫爪首页</a>
                <a>猫爪首页</a>
            </div>
            <div class="di">
                <a>猫爪首页</a>
                <a>猫爪首页</a>
                <a>猫爪首页</a>
            </div>
        </div>-->
    </div>
    <div style="height: 60px;background-color: #000;">

    </div>


</body>
</html>