<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../css/demo.css" />
    <link rel="stylesheet" type="text/css" href="../css/component.css" />
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" />
    <link href="../css/bootstrap-fileinput.css" rel="stylesheet" />
    <link href="../dist/summernote.css" rel="stylesheet" />
    <script type="text/javascript" src="../js/iconfont.js"></script>
    <script src="../js/modernizr.custom.js"></script>
    <script src="../js/masonry.pkgd.min.js"></script>
    <script src="../js/imagesloaded.pkgd.min.js"></script>
    <script src="../js/classie.js"></script>
    <script src="../js/colorfinder-1.1.js"></script>
    <script src="../js/gridScrollFx.js"></script>
    <script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>
    <script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
    <script src="../dist/summernote.js"></script>
    <script src="../dist/lang/summernote-zh-CN.js"></script>    <!-- 中文-->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-fileinput.js"></script>
    <style type="text/css">
        .show-grid{
            width: 80%;
            margin: 0 auto;
            box-shadow: 0 1px 1px rgb(146, 132, 132);
        }
        .show-grid [class^=col-] {
            padding-top: 10px;
            padding-bottom: 10px;
            border-right: 1px solid #EDEDED;
        }
        .show-grid a{
            margin-right: 20px;
            color: rgba(0, 0, 0, 0.92);
        }
        .container a{
            color: rgba(0, 0, 0, 0.92);
        }

        .ul li{
            padding: 5px 0;
            float: left;
            width: 304px;
        }
        .icon {
            width: 1em; height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }

    </style>
    <script>
        $(function(){

            //比较简洁，细节可自行完善
            $('#uploadSubmit').click(function () {
                var data = new FormData($('#uploadForm')[0]);
                $.ajax({
                    url: 'xxx/xxx',
                    type: 'POST',
                    data: data,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        console.log(data);
                        if(data.status){
                            console.log('upload success');
                        }else{
                            console.log(data.message);
                        }
                    },
                    error: function (data) {
                        console.log(data.status);
                    }
                });
            });

            $('.summernote').summernote({
                height: 200,
                tabsize: 2,
                lang: 'zh-CN'
            });
        });

        function sendCode(obj) {
            var registertelvalue = $("#registertel").val();
            $.post("/sendCode",
                {'telOrEmail':registertelvalue},
                function(data){
                    if (!data.success){
                        $(".cue_1").text(data.msg);
                    }else {
                        settime(obj);
                    }
                });

        }

        //发送验证码倒计时
        var countdown = 60;
        function settime(obj) {
            if (countdown == 0) {
                obj.removeAttribute("disabled");
                $("#code").text("发送验证码");
                countdown = 60;
                return;
            } else {
                obj.setAttribute("disabled", true);
                $("#code").text("重新发送(" + countdown + ")");
                countdown--;
            }
            setTimeout(function() {
                    settime(obj) }
                ,1000)
        }

        //登录
        function login() {
            var logintelvalue = $("#logintel").val();
            var loginpassword = $("#loginpassword").val();
            if (logintelvalue == ''){
                $(".cue").text("请输入手机号或邮箱");
                return;
            }
            if (loginpassword == ''){
                $(".cue").text("请输入密码");
                return;
            }
            $.post("/login",
                {'telOrEmail':logintelvalue, 'password':loginpassword},
                function(data){
                    if (data.success){
                        window.location.reload();
                    }else {
                        $(".cue").text(data.msg);
                    }
                });
        }

        //注册
        function register() {
            var registertel = $("#registertel").val();
            var registercode = $("#registercode").val();
            var registerpassword = $("#registerpassword").val();
            var registername = $("#name").val();
            $.post("/register",
                {'telOrEmail':registertel, 'name':registername, 'code':registercode, 'password':registerpassword},
                function(data){
                    if (data.success){
                        alert(data.data);
                    }else {
                        $(".cue_1").text(data.msg);
                    }
                });
        }

        //保存文章
        function save() {
            var details = $(".note-editable").html();
            var imgUrl = $(".fileinput-preview").find("img").attr("src");
            var title = $("#title").val();
            if(details == ''){
                $("#prompt").text("富文本内容不能为空");
                return;
            }
            if(imgUrl == ''){
                $("#prompt").text("请上传展示图");
                return;
            }
            if(title == ''){
                $("#prompt").text("请输入标题");
                return;
            }
            $.post("/user/save",
                {'title':title, 'details':details, 'imgUrl':imgUrl},
                function(data){
                    if (data.success){
                        window.location.href = "/";
                    }else {
                        $("#prompt").text(data.msg);
                    }
                });
        }
    </script>

</head>
<body style="height: 1501px;">
    <!--头-->
    <div>

        <header class="navbar navbar-static-top bs-docs-nav" id="top" style="border-color: rgba(226, 226, 226, 0.71);">
            <div class="container" style="width: 75%;">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="../" class="navbar-brand" style="font-size: 28px;font-weight: 100;">奇物</a>
                </div>
                <nav id="bs-navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">首页</a>
                        </li>
                        <li>
                            <a href="#">发现</a>
                        </li>
                        <li class="active">
                            <a href="#">组件</a>
                        </li>
                        <li>
                            <a href="#">插件</a>
                        </li>
                        <li>
                            <a href="#">定制</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="搜索..." style="border-radius: 100px;width: 160%;"/>
                        </div>
                        <svg class="icon" aria-hidden="true" style="font-size: 25px;position: relative;left: 78px;top: 4px;">
                            <use xlink:href="#icon-liwu-copy1"></use>
                        </svg>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <svg class="icon" aria-hidden="true" style="font-size: 25px;position: absolute;left: -35px;top: 12px;">
                                <use xlink:href="#icon-lingdang"></use>
                            </svg>
                        </li>

                        <li class="dropdown">
                            <a style="padding-right: 10px;text-decoration: none;color: #fff;padding-top: 8px;padding-bottom: 8px;margin-top: -8px;"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img th:src="${session.LOGIN_USER.imgUrl}" style="margin-top: 7px;height: 35px;width: 35px;display: inline-block;border: 1px solid #ddd;border-radius: 50%;" /><span class="caret"></span></a>
                            <ul class="dropdown-menu" style="min-width: 98px;width: 140px;">
                                <li>
                                    <a>
                                        <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                            <use xlink:href="#icon-wodezhuye"></use>
                                        </svg>
                                        <span style="position: relative;top: -2px;left: 3px;">个人主页</span>
                                    </a>
                                </li>
                                <li>
                                    <a style="margin-top: 10px;">
                                        <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                            <use xlink:href="#icon-shoucang"></use>
                                        </svg>
                                        <span style="position: relative;top: -2px;left: 3px;">我的收藏</span>
                                    </a>
                                </li>
                                <li>
                                    <a style="margin-top: 10px;">
                                        <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                            <use xlink:href="#icon-zhanghushezhi"></use>
                                        </svg>
                                        <span style="position: relative;top: -2px;left: 3px;">账户设置</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout" style="margin-top: 10px;">
                                        <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                            <use xlink:href="#icon-signout"></use>
                                        </svg>
                                        <span style="position: relative;top: -2px;left: 3px;">退出</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 450px;margin: 0 auto;margin-top: 200px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <svg class="icon" aria-hidden="true" style="font-size: 28px;margin-top: 9px;">
                        <use xlink:href="#icon-icon-copy"></use>
                    </svg>
                    <span class="modal-title" id="myModalLabel" style="font-size: 21px;position: relative;top: -3px;left: 2px;">登录</span>
                </div>
                <div class="modal-body">
                    <div style="text-align: center;color: rgba(0, 0, 0, 0.35);">——  使用手机号/邮箱登录猫爪  ——</div>
                    <div class="input-group input-group-lg" style="margin-top: 16px;">
                            <span class="input-group-addon" id="basic-addon1">
                                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                                  <use xlink:href="#icon-yonghuming1"></use>
                                </svg>
                            </span>
                        <input type="text" class="form-control" placeholder="手机号/邮箱" aria-describedby="basic-addon1" id="logintel" />
                    </div><br></br>
                    <div class="input-group  input-group-lg">
                            <span class="input-group-addon" id="basic-addon2">
                                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                                  <use xlink:href="#icon-mima"></use>
                                </svg>
                            </span>
                        <input type="password" class="form-control" placeholder="密码" aria-describedby="basic-addon2" id="loginpassword" />
                    </div>
                    <div style="margin-top: 10px;">
                        <span style="margin-left: 2%;"><a href="#">忘记密码>></a></span><span class="cue"></span>
                    </div>
                    <div style="text-align: center;color: rgba(0, 0, 0, 0.35);margin-top: 16px;">——  用第三方帐号注册猫爪  ——</div>
                    <div style="position: relative;margin-top: 15px;left: 38%;">
                        <a href="http://movcat.com/qq/auth?url=http://movcat.com" style="text-decoration: none;">
                            <svg class="icon" aria-hidden="true" style="font-size: 50px;" th:onmouseover="'javascript:changeqq()'" th:onmouseout="'javascript:resetqq()'">
                                <use xlink:href="#icon-weixin-" id="qq"></use>
                            </svg>
                        </a>
                        <svg class="icon" aria-hidden="true" style="font-size: 50px;" th:onmouseover="'javascript:changewb()'" th:onmouseout="'javascript:resetwb()'">
                            <use xlink:href="#icon-weibo" id="wb"></use>
                        </svg>
                    </div>
                </div>
                <div class="modal-footer">
                    <span>还没有猫爪账号?</span>
                    <span><a href="#" th:onclick="'javascript:gologin()'" style="margin-right: 117px;">立即注册>></a></span>
                    <button type="button" class="btn btn-primary" style="border-color: #fff;background-color: #fbd34a;width: 110px;" th:onclick="'javascript:login()'">登录</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_1">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 450px;margin: 0 auto;margin-top: 200px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <svg class="icon" aria-hidden="true" style="font-size: 28px;margin-top: 9px;">
                        <use xlink:href="#icon-icon-copy"></use>
                    </svg>
                    <span class="modal-title" id="myModalLabel_1" style="font-size: 21px;position: relative;top: -3px;left: 2px;">注册</span>
                </div>
                <div class="modal-body">
                    <div style="text-align: center;color: rgba(0, 0, 0, 0.35);">——  使用手机号/邮箱注册猫爪  ——</div>
                    <div class="input-group input-group-lg" style="margin-top: 16px;">
                            <span class="input-group-addon" id="basic-addon6">
                                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                                  <use xlink:href="#icon-yonghuming1"></use>
                                </svg>
                            </span>
                        <input type="text" class="form-control" placeholder="用户名" aria-describedby="basic-addon6" id="registername" />
                    </div><br></br>
                    <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="basic-addon5">
                                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                                  <use xlink:href="#icon-shoujihao"></use>
                                </svg>
                            </span>
                        <input type="text" class="form-control" placeholder="手机号/邮箱" aria-describedby="basic-addon5" id="registertel" />
                    </div><br></br>
                    <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="basic-addon3">
                                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                                  <use xlink:href="#icon-duanxinyanzhengmax"></use>
                                </svg>
                            </span>
                        <input type="text" class="form-control" placeholder="验证码" aria-describedby="basic-addon3" style="width: 69%;" id="registercode" />
                    </div>
                    <button type="button" th:onclick="'javascript:sendCode(this)'" id="code"
                            class="btn btn-primary" autocomplete="off" style="position:
                                absolute;left: 73%;top: 44.5%;height: 46px;background-color: #f5ab90;border-color: rgba(0, 0, 0, 0.37);width: 106px;">
                        发送验证码
                    </button>
                    <br></br>
                    <div class="input-group  input-group-lg">
                            <span class="input-group-addon" id="basic-addon4">
                                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                                  <use xlink:href="#icon-mima"></use>
                                </svg>
                            </span>
                        <input type="password" class="form-control" placeholder="密码" aria-describedby="basic-addon4" />
                    </div>
                    <div style="text-align: center;color: rgba(0, 0, 0, 0.35);margin-top: 16px;">——  用第三方帐号注册猫爪  ——</div>
                    <div style="position: relative;margin-top: 15px;left: 38%;">
                        <a href="http://movcat.com/qq/auth?url=http://movcat.com" style="text-decoration: none;">
                            <svg class="icon" aria-hidden="true" style="font-size: 50px;" th:onmouseover="'javascript:changeqq()'" th:onmouseout="'javascript:resetqq()'">
                                <use xlink:href="#icon-weixin-" id="qq"></use>
                            </svg>
                        </a>
                        <svg class="icon" aria-hidden="true" style="font-size: 50px;" th:onmouseover="'javascript:changewb()'" th:onmouseout="'javascript:resetwb()'">
                            <use xlink:href="#icon-weibo" id="wb"></use>
                        </svg>
                    </div>
                </div>
                <div class="modal-footer">
                    <span>已有猫爪账号?</span>
                    <span><a href="#" th:onclick="'javascript:gologin()'" style="margin-right: 130px;">立即登录>></a></span>
                    <button type="button" class="btn btn-primary" style="border-color: #fff;background-color: #fbd34a;width: 110px;" th:onclick="'javascript:register()'">注册</button>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--<div class="wrapper" style="width: 1496px;">
        <div id="category_guide"><div class="unit">
            <a href="/favorite/web_app_icon/" rel="nofollow" data-id="web_app_icon" class="x">UI/UX</a>
            <a href="/favorite/design/" rel="nofollow" data-id="design" class="x">平面</a>
            <a href="/favorite/illustration/" rel="nofollow" data-id="illustration" class="x">插画/漫画</a>
            <a href="/favorite/home/" rel="nofollow" data-id="home" class="x">家居/家装</a>
            <a href="/favorite/apparel/" rel="nofollow" data-id="apparel" class="x">女装/搭配</a>
            <a href="/favorite/men/" rel="nofollow" data-id="men" class="x">男士/风尚</a>
            <a href="/favorite/wedding_events/" rel="nofollow" data-id="wedding_events" class="x">婚礼</a>
        </div>
            <div class="unit">
                <a href="/favorite/industrial_design/" rel="nofollow" data-id="industrial_design" class="x">工业设计</a>
                <a href="/favorite/photography/" rel="nofollow" data-id="photography" class="x">摄影</a>
                <a href="/favorite/modeling_hair/" rel="nofollow" data-id="modeling_hair" class="x">造型/美妆</a>
                <a href="/favorite/food_drink/" rel="nofollow" data-id="food_drink" class="x">美食</a>
                <a href="/favorite/travel_places/" rel="nofollow" data-id="travel_places" class="x">旅行</a>
                <a href="/favorite/diy_crafts/" rel="nofollow" data-id="diy_crafts" class="x">手工/布艺</a>
            </div>
            <div class="unit">
                <a href="/favorite/fitness/" rel="nofollow" data-id="fitness" class="x">健身/舞蹈</a>
                <a href="/favorite/kids/" rel="nofollow" data-id="kids" class="x">儿童</a>
                <a href="/favorite/pets/" rel="nofollow" data-id="pets" class="x">宠物</a>
                <a href="/favorite/quotes/" rel="nofollow" data-id="quotes" class="x">美图</a>
                <a href="/favorite/people/" rel="nofollow" data-id="people" class="x">明星</a>
                <a href="/favorite/beauty/" rel="nofollow" data-id="beauty" class="x">美女</a>
                <a href="/favorite/desire/" rel="nofollow" data-id="desire" class="x">礼物</a>
            </div><div class="unit"><a href="/favorite/geek/" rel="nofollow" data-id="geek" class="x">极客</a>
                <a href="/favorite/anime/" rel="nofollow" data-id="anime" class="x">动漫</a>
                <a href="/favorite/architecture/" rel="nofollow" data-id="architecture" class="x">建筑设计</a>
                <a href="/favorite/art/" rel="nofollow" data-id="art" class="x">人文艺术</a>
                <a href="/favorite/data_presentation/" rel="nofollow" data-id="data_presentation" class="x">数据图</a>
                <a href="/favorite/games/" rel="nofollow" data-id="games" class="x">游戏</a>
            </div>
            <div class="unit last">
                <a href="/favorite/cars_motorcycles/" rel="nofollow" data-id="cars_motorcycles" class="x">汽车/摩托</a>
                <a href="/favorite/film_music_books/" rel="nofollow" data-id="film_music_books" class="x">电影/图书</a>
                <a href="/favorite/tips/" rel="nofollow" data-id="tips" class="x">生活百科</a>
                <a href="/favorite/education/" rel="nofollow" data-id="education" class="x">教育</a>
                <a href="/favorite/sports/" rel="nofollow" data-id="sports" class="x">运动</a>
                <a href="/favorite/funny/" rel="nofollow" data-id="funny" class="x">搞笑</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>-->
    <div class="row show-grid">
        <div class="col-md-3">
            <a href="/favorite/web_app_icon/" rel="nofollow" data-id="web_app_icon" class="x">UI/UX</a>
            <a href="/favorite/design/" rel="nofollow" data-id="design" class="x">平面</a>
            <a href="/favorite/illustration/" rel="nofollow" data-id="illustration" class="x">插画/漫画</a>
            <a href="/favorite/home/" rel="nofollow" data-id="home" class="x">家居/家装</a>
            <a href="/favorite/apparel/" rel="nofollow" data-id="apparel" class="x">女装/搭配</a>
            <a href="/favorite/men/" rel="nofollow" data-id="men" class="x">男士/风尚</a>
            <a href="/favorite/wedding_events/" rel="nofollow" data-id="wedding_events" class="x">婚礼</a>
        </div>
        <div class="col-md-3">
            <a href="/favorite/cars_motorcycles/" rel="nofollow" data-id="cars_motorcycles" class="x">汽车/摩托</a>
            <a href="/favorite/film_music_books/" rel="nofollow" data-id="film_music_books" class="x">电影/图书</a>
            <a href="/favorite/tips/" rel="nofollow" data-id="tips" class="x">生活百科</a>
            <a href="/favorite/education/" rel="nofollow" data-id="education" class="x">教育</a>
            <a href="/favorite/sports/" rel="nofollow" data-id="sports" class="x">运动</a>
            <a href="/favorite/funny/" rel="nofollow" data-id="funny" class="x">搞笑</a>
        </div>
        <div class="col-md-3">
            <a href="/favorite/anime/" rel="nofollow" data-id="anime" class="x">动漫</a>
            <a href="/favorite/architecture/" rel="nofollow" data-id="architecture" class="x">建筑设计</a>
            <a href="/favorite/art/" rel="nofollow" data-id="art" class="x">人文艺术</a>
            <a href="/favorite/data_presentation/" rel="nofollow" data-id="data_presentation" class="x">数据图</a>
            <a href="/favorite/games/" rel="nofollow" data-id="games" class="x">游戏</a>
        </div>
        <div class="col-md-3">
            <a href="/favorite/industrial_design/" rel="nofollow" data-id="industrial_design" class="x">工业设计</a>
            <a href="/favorite/photography/" rel="nofollow" data-id="photography" class="x">摄影</a>
            <a href="/favorite/modeling_hair/" rel="nofollow" data-id="modeling_hair" class="x">造型/美妆</a>
            <a href="/favorite/food_drink/" rel="nofollow" data-id="food_drink" class="x">美食</a>
            <a href="/favorite/travel_places/" rel="nofollow" data-id="travel_places" class="x">旅行</a>
            <a href="/favorite/diy_crafts/" rel="nofollow" data-id="diy_crafts" class="x">手工/布艺</a>
        </div>
    </div>
</body>
</html>