<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../css/demo.css" />
    <link rel="stylesheet" type="text/css" href="../css/component.css" />
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" />
    <link href="../css/bootstrap-fileinput.css" rel="stylesheet" />
    <link href="../dist/summernote.css" rel="stylesheet" />
    <script type="text/javascript" src="../js/iconfont.js"></script>
    <script src="../js/modernizr.custom.js"></script>
    <script src="../js/masonry.pkgd.min.js"></script>
    <script src="../js/imagesloaded.pkgd.min.js"></script>
    <script src="../js/classie.js"></script>
    <script src="../js/colorfinder-1.1.js"></script>
    <script src="../js/gridScrollFx.js"></script>
    <script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>
    <script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
    <script src="../dist/summernote.js"></script>
    <script src="../dist/lang/summernote-zh-CN.js"></script>    <!-- 中文-->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-fileinput.js"></script>
    <style type="text/css">
        .container a{
            color: rgba(0, 0, 0, 0.92);
        }
        .m{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }
        .ul{
            list-style: none;
            text-align: center;
        }
        .ul li{
            padding: 5px 0;
            float: left;
            width: 304px;
        }
        .icon {
            width: 1em; height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
        #navigation{
            position: fixed;
            width: 100%;
            height: 51px;
            z-index: 100;
            background-color:#fff;
            box-shadow:0 0 4px rgba(0,0,0,.2);
        }
        .title{
            padding: 10px;
            font-size: 10px;
            font-size: 15px;
            font-weight: 100;
            position: relative;
            color: #000000;
            top: -6px;
        }
        .media-heading{
            margin-top: 2px;
            margin-bottom: 10px;
        }
        .media{
            padding-top: 40px;
            border-top: 1px solid #f0f0f0;
        }
    </style>
    <script>
        $(function(){
            //比较简洁，细节可自行完善
            $('#uploadSubmit').click(function () {
                var data = new FormData($('#uploadForm')[0]);
                $.ajax({
                    url: 'xxx/xxx',
                    type: 'POST',
                    data: data,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        console.log(data);
                        if(data.status){
                            console.log('upload success');
                        }else{
                            console.log(data.message);
                        }
                    },
                    error: function (data) {
                        console.log(data.status);
                    }
                });
            });

            $('.summernote').summernote({
                height: 200,
                tabsize: 2,
                lang: 'zh-CN'
            });
        });

        function sendCode(obj) {
            var registertelvalue = $("#registertel").val();
            $.post("/sendCode",
                {'telOrEmail':registertelvalue},
                function(data){
                    if (!data.success){
                        $(".cue_1").text(data.msg);
                    }else {
                        settime(obj);
                    }
                });

        }

        //发送验证码倒计时
        var countdown = 60;
        function settime(obj) {
            if (countdown == 0) {
                obj.removeAttribute("disabled");
                $("#code").text("发送验证码");
                countdown = 60;
                return;
            } else {
                obj.setAttribute("disabled", true);
                $("#code").text("重新发送(" + countdown + ")");
                countdown--;
            }
            setTimeout(function() {
                    settime(obj) }
                ,1000)
        }

        //登录
        function login() {
            var logintelvalue = $("#logintel").val();
            var loginpassword = $("#loginpassword").val();
            if (logintelvalue == ''){
                $(".cue").text("请输入手机号或邮箱");
                return;
            }
            if (loginpassword == ''){
                $(".cue").text("请输入密码");
                return;
            }
            $.post("/login",
                {'telOrEmail':logintelvalue, 'password':loginpassword},
                function(data){
                    if (data.success){
                        window.location.reload();
                    }else {
                        $(".cue").text(data.msg);
                    }
                });
        }

        //注册
        function register() {
            var registertel = $("#registertel").val();
            var registercode = $("#registercode").val();
            var registerpassword = $("#registerpassword").val();
            var registername = $("#name").val();
            $.post("/register",
                {'telOrEmail':registertel, 'name':registername, 'code':registercode, 'password':registerpassword},
                function(data){
                    if (data.success){
                        alert(data.data);
                    }else {
                        $(".cue_1").text(data.msg);
                    }
                });
        }

        //保存文章
        function save() {
            var details = $(".note-editable").html();
            var imgUrl = $(".fileinput-preview").find("img").attr("src");
            var title = $("#title").val();
            if(details == ''){
                $("#prompt").text("富文本内容不能为空");
                return;
            }
            if(imgUrl == ''){
                $("#prompt").text("请上传展示图");
                return;
            }
            if(title == ''){
                $("#prompt").text("请输入标题");
                return;
            }
            $.post("/user/save",
                {'title':title, 'details':details, 'imgUrl':imgUrl},
                function(data){
                    if (data.success){
                        window.location.href = "/";
                    }else {
                        $("#prompt").text(data.msg);
                    }
                });
        }
    </script>

</head>
<body style="height: 1501px;">
    <!--头-->
    <div>
    <!--    <span id="navigation">
            <span style="margin-left: 200px;">
                &lt;!&ndash;<svg class="icon" aria-hidden="true" style="font-size: 32px;margin-left: 25px;margin-top: 9px;">
                    <use xlink:href="#icon-liwu2-copy"></use>
                </svg>&ndash;&gt;
                <span style="font-size: 28px;font-weight: 100;position: relative;top: -1px;">猫爪</span>
                <span class="title" style="padding-bottom: 5px;border-bottom:  1px solid #fff;margin-left: 12px">首页</span>
                <span class="title">发现</span>
                <span class="title">最新</span>
                <span class="title">活动</span>
                <span class="title">小喵</span>
                <span class="title">大喵</span>
                <svg class="icon" aria-hidden="true" style="font-size: 30px;margin-top: 9px;position: relative;right: 5px;">
                    <use xlink:href="#icon-new4"></use>
                </svg>
                <span class="dropdown">
                  <a style="color: #000000;
                    font-size: 15px;
                    position: relative;
                    font-weight: 100;
                    text-decoration: none;
                    top: -6px;" id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    更多 <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="drop2" style="min-width: 72px;">
                    <li><a href="#">美思</a></li>
                    <li>
                        <a href="#">美素</a>
                    </li>
                    <li><a href="#">美体</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">猫爪</a></li>
                  </ul>
                </span>
                <input type="text" placeholder="搜索..." style="
                background-color: #eee;
                border: none;
                outline: none;
                width: 350px;
                height: 35px;
                border-radius: 100px;
                position: relative;
                top: -4px;
                left: 70px;
                padding: 0 40px 0 20px;" />
                    <svg class="icon" aria-hidden="true" style="
                    position: absolute;
                    font-size: 22px;
                    margin-left: 33px;
                    margin-top: 13px;">
                        <use xlink:href="#icon-liwu2-copy"></use>
                    </svg>
            </span>
            <span style="position: absolute;left: 75%;top: 8px;" th:if="${session.LOGIN_USER == null}">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="background-color: #fff;
                border-color: #fff;
                color: #8e8e7f;">
                    登录
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_1" style="color: rgba(255, 132, 111, 0.94);
                width: 75px;
                margin-left: 5px;
                border-radius: 100px;
                background-color: #fff;
                border-color: rgba(255, 132, 111, 0.94);">
                    注册
                </button>
            </span>
            <span style="position: absolute;left: 82%;top: 8px;" th:if="${session.LOGIN_USER != null}">
                <div class="dropdown">
                    <svg class="icon" aria-hidden="true" style="font-size: 25px;position: absolute;left: -35px;top: 5px;">
                        <use xlink:href="#icon-lingdang"></use>
                    </svg>
                    <a style="text-decoration: none;color: #fff;" id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img th:src="${session.LOGIN_USER.imgUrl}" style="height: 35px;width: 35px;display: inline-block;border: 1px solid #ddd;border-radius: 50%;" />
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="drop1" style="min-width: 98px;width: 140px;">
                        <li>
                            <a>
                                <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                    <use xlink:href="#icon-wodezhuye"></use>
                                </svg>
                                <span style="position: relative;top: -2px;left: 3px;">个人主页</span>
                            </a>
                        </li>
                        <li>
                            <a style="margin-top: 10px;">
                                <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                    <use xlink:href="#icon-shoucang"></use>
                                </svg>
                                <span style="position: relative;top: -2px;left: 3px;">我的收藏</span>
                            </a>
                        </li>
                        <li>
                            <a style="margin-top: 10px;">
                                <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                    <use xlink:href="#icon-zhanghushezhi"></use>
                                </svg>
                                <span style="position: relative;top: -2px;left: 3px;">账户设置</span>
                            </a>
                        </li>
                        <li>
                            <a href="/logout" style="margin-top: 10px;">
                                <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                    <use xlink:href="#icon-signout"></use>
                                </svg>
                                <span style="position: relative;top: -2px;left: 3px;">退出</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </span>
        </span>
    <span style="position: absolute;right: 200px;top: 8px;">

        </span>-->
        <header class="navbar navbar-static-top bs-docs-nav" id="top" style="border-color: rgba(226, 226, 226, 0.71);">
            <div class="container" style="width: 75%;">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false" style="border-color: #333;background-color: #fff;">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" style="background-color: #333;"></span>
                        <span class="icon-bar" style="background-color: #333;"></span>
                        <span class="icon-bar" style="background-color: #333;"></span>
                    </button>
                    <a href="../" class="navbar-brand" style="font-size: 28px;font-weight: 100;">奇物</a>
                </div>
                <nav id="bs-navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">首页</a>
                        </li>
                        <li>
                            <a href="#">发现</a>
                        </li>
                        <li class="active">
                            <a href="#">组件</a>
                        </li>
                        <li>
                            <a href="#">插件</a>
                        </li>
                        <li>
                            <a href="#">定制</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="搜索..." style="width: 400px;"/>
                        </div>
                        <!--<svg class="icon" aria-hidden="true" style="font-size: 25px;position: relative;left: 78px;top: 4px;">
                            <use xlink:href="#icon-liwu-copy1"></use>
                        </svg>-->
                        <button type="submit" class="btn btn-default" style="padding: 5px 12px;">
                            <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                <use xlink:href="#icon-liwu-copy1"></use>
                            </svg>
                        </button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a id="hide"></a>
                        </li>
                        <li>
                            <svg class="icon" aria-hidden="true" style="font-size: 25px;position: absolute;left: -35px;top: 12px;">
                                <use xlink:href="#icon-lingdang"></use>
                            </svg>
                        </li>

                        <li class="dropdown">
                            <a style="padding-right: 10px;text-decoration: none;color: #fff;padding-top: 8px;padding-bottom: 8px;margin-top: -8px;"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img th:src="${session.LOGIN_USER.imgUrl}" style="margin-top: 7px;height: 35px;width: 35px;display: inline-block;border: 1px solid #ddd;border-radius: 50%;" /><span class="caret"></span></a>
                            <ul class="dropdown-menu" style="min-width: 98px;width: 140px;">
                                <li>
                                    <a>
                                        <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                            <use xlink:href="#icon-wodezhuye"></use>
                                        </svg>
                                        <span style="position: relative;top: -2px;left: 3px;">个人主页</span>
                                    </a>
                                </li>
                                <li>
                                    <a style="margin-top: 10px;">
                                        <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                            <use xlink:href="#icon-shoucang"></use>
                                        </svg>
                                        <span style="position: relative;top: -2px;left: 3px;">我的收藏</span>
                                    </a>
                                </li>
                                <li>
                                    <a style="margin-top: 10px;">
                                        <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                            <use xlink:href="#icon-zhanghushezhi"></use>
                                        </svg>
                                        <span style="position: relative;top: -2px;left: 3px;">账户设置</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout" style="margin-top: 10px;">
                                        <svg class="icon" aria-hidden="true" style="font-size: 20px;">
                                            <use xlink:href="#icon-signout"></use>
                                        </svg>
                                        <span style="position: relative;top: -2px;left: 3px;">退出</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 450px;margin: 0 auto;margin-top: 200px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <svg class="icon" aria-hidden="true" style="font-size: 28px;margin-top: 9px;">
                        <use xlink:href="#icon-icon-copy"></use>
                    </svg>
                    <span class="modal-title" id="myModalLabel" style="font-size: 21px;position: relative;top: -3px;left: 2px;">登录</span>
                </div>
                <div class="modal-body">
                    <div style="text-align: center;color: rgba(0, 0, 0, 0.35);">——  使用手机号/邮箱登录猫爪  ——</div>
                    <div class="input-group input-group-lg" style="margin-top: 16px;">
                            <span class="input-group-addon" id="basic-addon1">
                                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                                  <use xlink:href="#icon-yonghuming1"></use>
                                </svg>
                            </span>
                        <input type="text" class="form-control" placeholder="手机号/邮箱" aria-describedby="basic-addon1" id="logintel" />
                    </div><br></br>
                    <div class="input-group  input-group-lg">
                            <span class="input-group-addon" id="basic-addon2">
                                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                                  <use xlink:href="#icon-mima"></use>
                                </svg>
                            </span>
                        <input type="password" class="form-control" placeholder="密码" aria-describedby="basic-addon2" id="loginpassword" />
                    </div>
                    <div style="margin-top: 10px;">
                        <span style="margin-left: 2%;"><a href="#">忘记密码>></a></span><span class="cue"></span>
                    </div>
                    <div style="text-align: center;color: rgba(0, 0, 0, 0.35);margin-top: 16px;">——  用第三方帐号注册猫爪  ——</div>
                    <div style="position: relative;margin-top: 15px;left: 38%;">
                        <a href="http://movcat.com/qq/auth?url=http://movcat.com" style="text-decoration: none;">
                            <svg class="icon" aria-hidden="true" style="font-size: 50px;" th:onmouseover="'javascript:changeqq()'" th:onmouseout="'javascript:resetqq()'">
                                <use xlink:href="#icon-weixin-" id="qq"></use>
                            </svg>
                        </a>
                        <svg class="icon" aria-hidden="true" style="font-size: 50px;" th:onmouseover="'javascript:changewb()'" th:onmouseout="'javascript:resetwb()'">
                            <use xlink:href="#icon-weibo" id="wb"></use>
                        </svg>
                    </div>
                </div>
                <div class="modal-footer">
                    <span>还没有猫爪账号?</span>
                    <span><a href="#" th:onclick="'javascript:gologin()'" style="margin-right: 117px;">立即注册>></a></span>
                    <button type="button" class="btn btn-primary" style="border-color: #fff;background-color: #fbd34a;width: 110px;" th:onclick="'javascript:login()'">登录</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_1">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 450px;margin: 0 auto;margin-top: 200px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <svg class="icon" aria-hidden="true" style="font-size: 28px;margin-top: 9px;">
                        <use xlink:href="#icon-icon-copy"></use>
                    </svg>
                    <span class="modal-title" id="myModalLabel_1" style="font-size: 21px;position: relative;top: -3px;left: 2px;">注册</span>
                </div>
                <div class="modal-body">
                    <div style="text-align: center;color: rgba(0, 0, 0, 0.35);">——  使用手机号/邮箱注册猫爪  ——</div>
                    <div class="input-group input-group-lg" style="margin-top: 16px;">
                            <span class="input-group-addon" id="basic-addon6">
                                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                                  <use xlink:href="#icon-yonghuming1"></use>
                                </svg>
                            </span>
                        <input type="text" class="form-control" placeholder="用户名" aria-describedby="basic-addon6" id="registername" />
                    </div><br></br>
                    <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="basic-addon5">
                                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                                  <use xlink:href="#icon-shoujihao"></use>
                                </svg>
                            </span>
                        <input type="text" class="form-control" placeholder="手机号/邮箱" aria-describedby="basic-addon5" id="registertel" />
                    </div><br></br>
                    <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="basic-addon3">
                                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                                  <use xlink:href="#icon-duanxinyanzhengmax"></use>
                                </svg>
                            </span>
                        <input type="text" class="form-control" placeholder="验证码" aria-describedby="basic-addon3" style="width: 69%;" id="registercode" />
                    </div>
                    <button type="button" th:onclick="'javascript:sendCode(this)'" id="code"
                            class="btn btn-primary" autocomplete="off" style="position:
                                absolute;left: 73%;top: 44.5%;height: 46px;background-color: #f5ab90;border-color: rgba(0, 0, 0, 0.37);width: 106px;">
                        发送验证码
                    </button>
                    <br></br>
                    <div class="input-group  input-group-lg">
                            <span class="input-group-addon" id="basic-addon4">
                                <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                                  <use xlink:href="#icon-mima"></use>
                                </svg>
                            </span>
                        <input type="password" class="form-control" placeholder="密码" aria-describedby="basic-addon4" />
                    </div>
                    <div style="text-align: center;color: rgba(0, 0, 0, 0.35);margin-top: 16px;">——  用第三方帐号注册猫爪  ——</div>
                    <div style="position: relative;margin-top: 15px;left: 38%;">
                        <a href="http://movcat.com/qq/auth?url=http://movcat.com" style="text-decoration: none;">
                            <svg class="icon" aria-hidden="true" style="font-size: 50px;" th:onmouseover="'javascript:changeqq()'" th:onmouseout="'javascript:resetqq()'">
                                <use xlink:href="#icon-weixin-" id="qq"></use>
                            </svg>
                        </a>
                        <svg class="icon" aria-hidden="true" style="font-size: 50px;" th:onmouseover="'javascript:changewb()'" th:onmouseout="'javascript:resetwb()'">
                            <use xlink:href="#icon-weibo" id="wb"></use>
                        </svg>
                    </div>
                </div>
                <div class="modal-footer">
                    <span>已有猫爪账号?</span>
                    <span><a href="#" th:onclick="'javascript:gologin()'" style="margin-right: 130px;">立即登录>></a></span>
                    <button type="button" class="btn btn-primary" style="border-color: #fff;background-color: #fbd34a;width: 110px;" th:onclick="'javascript:register()'">注册</button>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="input-group input-group-lg" style="
    position: relative;
    top: 180px;
    width: 500px;
    margin-left: 10%;">
        <span class="input-group-addon" id="basic-addon7">标题</span>
        <input type="text" class="form-control" placeholder="请输入文章标题..." aria-describedby="basic-addon7" id="title"/>
    </div>

    <!--上传图片-->
    <div class="page-header" style="margin-top: 210px;margin-left: 10%;border-bottom: none;padding-bottom: 0px;">
            <div class="form-group" id="uploadForm" enctype='multipart/form-data'>
                <div class="fileinput fileinput-new" data-provides="fileinput"  id="exampleInputUpload">
                    <div class="fileinput-new thumbnail" style="width: 200px;height: auto;max-height:150px;">
                        <img id='picImg' style="width: 100%;height: auto;max-height: 140px;" src="../img/1.jpg" alt="" />
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                    <div>
                        <span class="btn btn-primary btn-file">
                            <span class="fileinput-new">选择文件</span>
                            <span class="fileinput-exists">换一张</span>
                            <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png"/>
                        </span>
                        <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput">移除</a>
                    </div>
                </div>
            </div>
    </div>

    <!--富文本-->
    <div class="m">
        <div class="summernote"></div>
        <span style="position: absolute;right: 12%;" id="prompt"></span>
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" style="
        position: absolute;
        right: 0px;
        width: 150px;
        height: 40px;
        background-color: #ff8046;
        border-color: #ff8046;" th:onclick="'javascript:save()'">
            提交
        </button>
    </div>

</body>
</html>